

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Lexend+Giga:wght@100..900&family=Moon+Dance&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

.body{
    background: url("../snakeBG.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}
#score{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: Moon Dance;
   
 
}
#board{
    background: linear-gradient(rgb(204, 204, 114), rgb(123, 207, 123));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows:repeat(18,1fr) ;
    grid-template-columns:repeat(18,1fr) ;
}

.head{
    background: linear-gradient( rgb(226, 135, 135), rgb(240, 240, 116));
    border: 2px solid purple;
    border-radius: 6px;
    transform: scale(1.02);
}
.snake{
    background: purple;
    border: .25vmin solid white;
    border-radius: 8px;

}

.food{
    background:linear-gradient(red, rgb(68, 54, 68));
    border: .25vmin solid black;
    border-radius: 7px;


}